<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <%- include("includes/navigate.ejs") %>
    <% if (projects.length == 0) { %> 
        <h1 style="margin-top: 5rem;">No projects found!</h1>
    <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project title</th>               
                        <th>Organisation</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <% projects.forEach((pro, _) => { %>
                        <tr>
                            <td><%= pro.project_id %></td>
                            <td><%= pro.project_title %></td>                            
                            <td><%= pro.org_name %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
    <% } %>
    <% if (researchers.length==0) { %>
        <h1 style="margin-top: 5rem;">No researchers found!</h1>
        <% } else { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% researchers.forEach((row, _)=> { %>
                            <tr>
                                <td>
                                    <%= row.researcher_id %>
                                </td>
                                <td>
                                    <%= row.researcher_name %>
                                </td>
                                <td>
                                    <%= row.researcher_surname%>
                                </td>
                            </tr>
                                <% }) %>
                    </tbody>
                </table>
                <% } %>
                <%- include("includes/bottom.ejs") %>
</body>
</html>